<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--css-->
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <!--js-->
    <script th:src="@{/js/min.js}"></script>

</head>
<body>


<div layout:fragment="content">

    <a th:href="@{/addemployee}" class="btn btn-primary">Add Employee</a>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Wage</th>
            <th></th>
        </tr>
        <tr th:each="p: ${employees}">
            <td th:text="${p.id}">ID</td>
            <td th:text="${p.name}">Name</td>
            <td th:text="${p.wage}">Wage</td>
           <!-- <td><a th:href="@{/editProduct/{id}(id=${p.id})}">Edit</a>&nbsp;
                <a th:href="@{/getProduct/{id}(id=${p.id})}">Detail</a>&nbsp;
                <a th:href="@{/deleteProduct/{id}(id=${p.id})}">Delete</a>
            </td>-->
        </tr>

    </table>

</div>


</body>

</html>